<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details for Application Id</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> User Id </th>
        <th> User Name </th>
        <th> IsLocked </th>
        <th> Failed Login Count </th>
        <th> Last Password Changed </th>
        <th> Role </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> No Applications Available </td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.userDetail.userId}"> User Id </span></td>
        <td><span th:text="${user.userDetail.userName}"> User Name </span></td>
        <td><span th:text="${user.userDetail.getLocked()}"> isLocked </span></td>
        <td><span th:text="${user.userDetail.failedLoginCount}"> Failed Login Count </span></td>
        <td><span th:text="${user.userDetail.lastPasswordChangedDate}"> Last Password Changed </span></td>
        <td><span th:text="${user.roleDescription}"> Role </span></td>
        <td><a th:href="@{/users/unlock{id}(id = ${user.userDetail.userId})}"><button>Unlock</button></a></td>
        <td><a th:href="@{/users/{id}(id = ${user.userDetail.userId})}"><button>Delete</button></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>